{% load static %}
{% block scripts %}
    <script src="{% static 'podologie/js/jquery.js' %}"></script>
    <script src="{% static 'podologie/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'podologie/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'podologie/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'podologie/js/wow.min.js' %}"></script>
    <script src="{% static 'podologie/js/smoothscroll.js' %}"></script>
    <script src="{% static 'podologie/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'podologie/js/custom.js' %}"></script>
{% endblock %}